.container {
    width: 50%;
    height: 100%;
    margin: auto;

    display: flex;
    justify-items: center;
    font-size: 1.2em;
}

.edit-creator-container {
    width: 70%;
    height: 90%;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-h1 {
    width: 100%;
    text-align: center;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container input, textarea {
    font-size: 1.2em;
    padding: 15px;
    outline: none;
    background:  transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.input-container input:focus, textarea:focus {
    transition: .25s ease-in-out;
    box-shadow: 0 0 50px 20px rgba(255, 255, 255, 0.1);
}

.details-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.details-container label {
    font-size: 1.2em;
}

.details-container p {
    font-size: 16px;
    font-style: italic;
}

.edit-form-submit-button {
    width: 40%;
    margin: 0 auto;
    font-size: 1.5em;
    padding: 20px;
    letter-spacing: 2px;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.edit-form-submit-button:hover {
    transition: .25s ease-in-out;
    box-shadow: 0 0 50px 20px rgba(255, 255, 255, 0.1);
}