
.homepage-container {
    background: url("https://images.unsplash.com/photo-1491466424936-e304919aada7?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8MTkyMHgxMDgwJTIwd2FsbHBhcGVyfGVufDB8fDB8fHww");
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    z-index: 1; 
    overflow: hidden;
    position: relative;
}

.homepage-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    z-index: 0;
}

.homepage-container h1 {
    font-size: 5em;
    position: relative;
}

.homepage-container h1::before {
    display: block;
    position: absolute;
    content: "";

    border-radius: 50px;
    left: 0;
    bottom: 0;
    right: 0;

    height: 10%;

    background-color: rgba(255, 255, 255, 0.6);
    
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .25s ease;
    z-index: -1;
}

.homepage-container h1:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.links-container {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.links-container * {
    border: 2px solid #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    border-radius: 6px;
    z-index: 1;

    position: relative;
    overflow: hidden;
}

.links-container *::before {
    content: '';
    display: block;
    position: absolute;
    background-color: white;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    transform: scaleX(0);
    transition: transform .25s ease;
    transform-origin: left;
    z-index: -1;
}

.links-container *:hover::before {
    transform: scaleX(1);
}

.links-container *:hover {
    color: black;
    transition: .25s ease;
}


