

.show-creators-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2em;
    flex-wrap: wrap;

    font-size: small;
    gap: 20px;

    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-top: solid rgb(60, 60, 60) 1px;
}

h1 {
    padding-left: 30px;
}