
.show-creators-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2em;
    flex-wrap: wrap;

    font-size: small;

    height: 70%;
    width: 80%;
    margin: 0 auto;
}