.view-creator-container {
    width: 80%;
    margin: auto;
    margin-top: 10%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.creator-info-container {
    display: flex;
    height: 60%;
    gap: 80px;
}

.creator-details {
    display: flex;
    font-size: 2em;
    flex-direction: column;
    width: 60%;
}

.creator-desc {
    height: 100%;
    width: 100%;
}

.creator-desc-container {
    width: 100%;
    height: 80%;
    color: grey;
    border-radius: 20px;
}

.creator-link-container {
    display: flex;
    align-items: center;
    height: 20%;
}

.creator-link {
    text-decoration: none;
    color: white;
    color: rgb(50, 120, 200);
}

.creator-link:hover {
    text-decoration: underline;
}

/* IMAGE STYLING  */
 
.creator-img-container {
    height: 100%;
    width: 40%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px 1px rgba(255, 255, 255, 0.05);
}

.creator-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.creator-img-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
}

/* BUTTONS CONTAINER */

.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    gap: 100px;
    margin-top: 50px;
}

.buttons-container .link {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: white;
    width: 20%;
    height: 50%;
    font-size: 2em;
    letter-spacing: 2px;
    background: transparent;

    border: 1px solid rgba(255, 255, 255, 0.1);
    /* box-shadow: 0 0 30px 1px rgba(255, 255, 255, 0.05); */
}

.buttons-container .link:hover {
    transition: .25s ease-out;
    box-shadow: 0 0 50px 30px rgba(255, 255, 255, 0.05);
    border-color: white;
}

