.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;   
}

.screen-container {
    padding: 100px 0;
    background: url("https://images.unsplash.com/photo-1444080748397-f442aa95c3e5?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bmlnaHQlMjBza3klMjB3YWxscGFwZXJ8ZW58MHx8MHx8fDA%3D");
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: white solid 1px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    z-index: 1; 
    overflow: hidden;
    position: relative;
}

.screen-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    z-index: 0;
}

.screen-container h1 {
    font-size: 5em;
}

.view-creators-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2em;
}

.links-container {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.links-container * {
    background: rgba(255, 255, 255, 0.1); /* soft transparent white */
    border: 1px solid #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    border-radius: 6px;
    background-color: rgba(30, 50, 50, 0.5);
    z-index: 2;
}

.links-container *:hover {
    background: #ffffff;
    color: #0f172a; /* dark navy for contrast */
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
}

