.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;   
}

.screen-container {
    padding: 100px 0;
    background-color: black;
    text-align: center;
}

.view-creators-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2em;
}